<!-- views/create.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Blog App - Create Article</title>
    <style>
      /* styles.css */

      body {
        font-family: "Arial", sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }

      h1 {
        color: #333;
      }

      form {
        margin-top: 20px;
      }

      label {
        display: block;
        margin-bottom: 5px;
      }

      input[type="text"],
      textarea,
      select {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
      }

      button {
        padding: 10px;
        background-color: #4caf50;
        color: #906f6f;
        border: none;
        cursor: pointer;
      }

      button:hover {
        background-color: #45a049;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      li {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      a {
        text-decoration: none;
        color: #333;
        margin-right: 10px;
      }

      a:hover {
        color: #4caf50;
      }
    </style>
  </head>
  <body>
    <h1>Create New Article</h1>
    <form action="/views/create" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required /><br />
      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea><br />
      <label for="category">Category:</label>
      <select id="category" name="category" required>
        <option value="Food">Food</option>
        <option value="Education">Education</option>
        <option value="Businessmen">Businessmen</option>
        <option value="Positions">Positions</option></select
      ><br />
      <button type="submit">Create Article</button>
    </form>
    <a href="/views/articles">Back to Articles</a>
  </body>
</html>
